.container {
  width: 1129px;
  height: 633px;
  background-image: url(../images/header.jpg);
}

.item {
  height: 220px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur (10px);
}
