:root {
  --color-primary-light: #ffffff;
  --color-primary-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-grey-dark: #4a4a4a;
  --color-secondary-grey-light: #747272;
  --color-secondary-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-text: #000000;
}
