.body {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(43, 127, 255, 0) 54.16%,
      rgba(43, 127, 255, 0) 66.66%
    ),
    url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center 1350px;
  background-clip: border-box;
}
