.body {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(43, 127, 255, 0) 78.55%),
    url(../images/background-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 680px;
  background-clip: border-box;

  @media screen and (min-width: 360px) {
    background-color: rgba(43, 127, 255, 0.1);
    background-image: url(../images/background.svg);
  }

  @media screen and (min-width: $bp-desktop) {
    background-image: linear-gradient(
        rgba(43, 127, 255, 0) 54.16%,
        rgba(43, 127, 255, 0) 66.66%
      ),
      url(../images/background.svg);
    background-position: center 1350px;
    background-color: rgba(43, 127, 255, 0);
  }
}
