.why-us-section {
  padding-top: 40px;
  padding-bottom: 0;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 88px;
    padding-bottom: 48px;
  }

  &__flex {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      gap: 48px;
    }
  }

  &__title {
    max-width: 210px;
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      max-width: 432px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 56px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 320px;
    padding: 24px 32px 20px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    box-shadow: 0px 4px 4px 0px #a8c6f561;

    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 112px) / 3);
    }
  }

  &__image {
    width: 48px;
    height: 48px;
  }

  &__text {
    margin: 0;
    color: var(--color-text);
    line-height: 1.35;
    text-align: center;
  }
}
